.caption {
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
}

.slides div {
    background-color: rgb(255, 153, 51);
}

body {
    background-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-weight: 400;
}

.spaceRow {
    height: 20px;
}

.nameCell {
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.positionCell {
    display: block;
    vertical-align: middle;
    font-size: 10px;
    float: right;
    width: 150px;
}

.positionCell a {
    color: black !important;
}

#teamList {
    width: 100%;
}

.teamMember {
    background-color: #fff;
    color: #252525;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
}

.descriptionCell {
    display: block;
}
.descriptionCell img {
    max-width:100%;
}

#teamList td {
    padding: 10px 10px 10px 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#menu {
    float: right;
    right: 0px;
    position: fixed;
    margin: 0 0 0 0;
    padding-right: 50px;
    padding-top: 0px;
    top: 0px;
}

.sliderItem span {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}

#menu li {
    display: inline-block;
}

#menu li a {
  display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 28px;
    padding-bottom: 28px;
}

#menu li:hover{
  box-shadow:0 0 5px rgba(0,0,0,0.2);
}

.sliderItem {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.sliderItem.thirty{
    padding-top: 30%;
}

#logo {
    height: 45px;
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#heading {
    font-weight: bolder;
    left: 0px;
    top: 0px;
    padding-top: 15px;
    padding-left: 50px;
    position: absolute;
    font-size: 20px;
}

.submenu li {
    display: block !important;
    border-bottom: solid;
    border-bottom-color: white;
}

.submenu li:hover {
    border-bottom: solid;
    border-bottom-color: #252525;
}

.submenu {
    padding: 0;
    position: absolute;
    top: 75px;
    width: 250px;
    display: none;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

ul li:hover .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
}

footer {
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #f6f6f6;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    box-shadow:0 0 5px #252525;
    padding-left: 15px;
    z-index:10;
}

footer span {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

#content {
    position: absolute;
    top: 100px;
    width: 80%;
    text-align: justify;
    box-sizing: border-box;
    left: 10%;
    margin-bottom:50px;
}

#contentIndex {
    position: absolute;
    top: 100px;
    width: 80%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    box-sizing: border-box;
    left: 10%;
}

#twitter-widget-0 {
    position: fixed !important;
    width: 300px !important;
    height: 300px;
    bottom: -300px;
}

#twitterButton {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 50px;
    z-index: 2;
}

#twitterButtonImage {
    width: 50px;
    height: 50px;
}

#facebookButtonImage {
    width: 50px;
    height: 50px;
}

#header {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: white;
    color: black !important;
    box-shadow: 0 0 5px #252525;
    height: 75px;
    font-family: 'Lato', sans-serif;
    z-index: 10;
}

#header a{
    color: black !important;
}

.comingSoon{
  text-align:center;
  font-size:40px;
}